{% extends "base.html" %}
{% load static %}

{%block "title" %}Home{% endblock%}

{% block "content"%}

<!-- Header -->
<header class="header" id="header">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <h1>I Ching</h1>
                    <hr class="styled-hr">
                    <p>The Book of Changes</p>
                    <br>
                    <div class="button-container">
                        <a href="#about" class="styled-button">Learn More</a>
                        <a href="{% url 'toss_coins' %}" class="styled-button">Toss Coins</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigation bar -->
    <nav class="navigation">
        <ul>
            <li><a href="#instructions">Instructions</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="#">
              <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
              </svg>
            {{ user.get_username }}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'my_iching' %}">My I Ching</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}?next=/iching">Logout</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register'%}">Register</a></li>
          {% endif %}
            <li><a href="#contact_us">Contact Us</a></li>
        </ul>
    </nav>
</header>

<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2 class="about-heading">About I Ching</h2>
            <hr class="styled-hr">
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'img/about.png' %}" class="img-fluid about-image">
            </div>
            <div class="col-md-12 col-md-offset-2">
                <div class="about-text text-center center">
                    <p>The I Ching, also known as the Book of Changes, is an ancient Chinese text that has been revered
                        for over two thousand years. It is a profound divination tool and philosophical guide that
                        offers insights into the patterns and changes of life. Composed of 64 hexagrams, which are
                        combinations of six solid or broken lines, the I Ching provides a framework for understanding
                        the dynamic interplay between yin and yang, the fundamental forces of the universe.</p>
                    <p>At its core, the I Ching is a system of wisdom and guidance, offering individuals a way to seek
                        clarity and make informed decisions. The process of consulting the I Ching involves posing a
                        question or reflecting on a situation and generating a hexagram through the manipulation of
                        yarrow stalks or the tossing of coins. Each hexagram has its unique meaning, representing a
                        specific state or transition in life. The text then provides interpretations and advice that can
                        help individuals navigate challenges, embrace change, and find harmony in their actions.</p>
                    <p>The I Ching's influence extends far beyond divination. It has permeated various aspects of
                        Chinese culture, including philosophy, literature, and religion. Its teachings emphasize the
                        importance of balance, adaptability, and the interconnectedness of all things. The I Ching has
                        also captured the interest of Western scholars and thinkers, who have found resonance with its
                        concepts in fields such as psychology and spirituality. Through its timeless wisdom, the I Ching
                        continues to offer profound insights into the human experience and serves as a guide for
                        personal growth and self-reflection.</p>
                    <br>
                    <div class="button-container">
                        <a href="http://127.0.0.1:8000/iching/#" class="styled-button page-scroll">Back to Top</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}

