{% extends "base.html" %}
{% load static %}

{% block "title" %}My I Ching{% endblock %}

{% block "content" %}

<h1>My I Ching</h1>

{% if saved_hexagrams %}
    <h2>Saved Hexagrams:</h2>
    <ul>
        {% for hexagram_instance in saved_hexagrams %}
            <li>
                <h3>{{ hexagram_instance.hexagram_number.number }}</h3>
                <p>{{ hexagram_instance.hexagram_number.description }}</p>
                <p>Meaning: {{ hexagram_instance.hexagram_number.meaning }}</p>
                {% if hexagram_instance.modified_hexagram_number %}
                    <h4>Modified Hexagram:</h4>
                    <p>{{ hexagram_instance.modified_hexagram_number.number }}</p>
                {% endif %}
                <p>Date Saved: {{ hexagram_instance.date_saved }}</p>
                <p>Note: {{ hexagram_instance.note }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No saved hexagrams yet.</p>
{% endif %}

{% endblock %}
