{% extends "base.html" %}
{% load static %}

{% block "content"%}
<div class="container my-iching">
    <h1 class="heading">Save Guidance</h1>
    <p class="text-muted">{{ timestamp }}</p>
    <br>
    <div class="hexagram-container">
        <img class="img-fluid hexagrams_img" src="{{ hexagram_number.picture.url }}">
        <h2>{{ hexagram_number.number }}</h2>
    </div>
    <br>
    <div>
        <p>{{ hexagram_number.description }}</p>
        <p>{{ hexagram_number.meaning }}</p>
        <br>
    </div>

    {% if modified_hexagram_number %}
    <p class="changing-to">Changing to:</p>
    <br>
    <div class="hexagram-container">
        <img class="img-fluid hexagrams_img" src="{{ modified_hexagram_number.picture.url }}">
        <h2>{{ modified_hexagram_number.number }}</h2>
    </div>
    <br>
    <div>
        <p>{{ modified_hexagram_number.description }}</p>
        <p>{{ modified_hexagram_number.meaning }}</p>
        <br>
    </div>
    {% endif %}

    <h2>Add a note</h2>
    <form method="POST">
        {% csrf_token %}
        <textarea name="note" rows="4" cols="56"></textarea>
        <br>
        <button type="submit" class="styled-button backtotop-button">Save</button>
    </form>
</div>
{% endblock %}
