{% extends "base.html" %}
{% load static %}

{% block "title" %}Toss Coins{% endblock %}

{% block "content" %}
<div class="col-md-12 text-center">
    <div class="toss-container">
        <div class="toss-content">
            <h1>{{ toss_result }}</h1>
            </div>
            {% if toss_result %}
                <div class="coin-container">
                    {% if toss_result == "Heads" %}
                        <img src="{% static 'img/coin_obverse.png' %}" alt="Heads" class="coin-images">
                    {% elif toss_result == "Tails" %}
                        <img src="{% static 'img/coin_reverse.png' %}" alt="Tails" class="coin-images">
                    {% endif %}
                </div>
            <br>
            <div class="button-container">
                <form method="POST" action="{% url 'toss_coins' %}">
                    {% csrf_token %}
                    <button type="submit" class="styled-button">Toss Coins</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
