{% extends "base.html" %}
{% load static %}

{% block "title" %}Toss Coins{% endblock %}

{% block "content" %}
<div class="col-md-12 text-center">
    <div class="toss-container">
        <div class="toss-content">
            <div class="coin-container">
                {% for result in toss_results %}
                {% if result == "Heads" %}
                <img src="{% static 'img/coin_obverse.png' %}" alt="Heads" class="coin-images">
                {% elif result == "Tails" %}
                <img src="{% static 'img/coin_reverse.png' %}" alt="Tails" class="coin-images">
                {% endif %}
                {% endfor %}
            </div>
            <br>
            <p>
                {% for result in toss_results %}
                {{ result }}{% if not forloop.last %}&nbsp;&nbsp;{% endif %}
                {% endfor %}
            </p>
            <br>
            <div class="button-container">
                <form method="POST" action="{% url 'toss_coins' %}">
                    {% csrf_token %}
                    <button type="submit" class="styled-button">Toss Coins</button>
                </form>
            </div>
        </div>
        <div class="brush-line-container">
            <ul>
                {% for casted_result in casted_results %}
                <li>
                    {% if casted_result == "HHT" %}
                    <img src="{% static 'img/stroke1.png' %}" alt="HHT" class="brush-images">
                    {% elif casted_result == "TTH" %}
                    <img src="{% static 'img/stroke2.png' %}" alt="TTH" class="brush-images">
                    {% elif casted_result == "HHH." %}
                    <img src="{% static 'img/stroke2_dot.png' %}" alt="HHH" class="brush-images">
                    {% else %}
                    <img src="{% static 'img/stroke1_dot.png' %}" alt="TTT" class="brush-images">
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock %}
