{% extends "base.html" %}
{% load static %}

{% block "title" %}Toss Coins{% endblock %}

{% block "content" %}

<div class="container">
    <div class="toss-container">
        <div class="row">
            <div class="col-md-6">
                <div class="box1">
                    <div class="toss-content">
                        <div class="coin-container">
                            {% for result in toss_results %}
                            <div class="coin-label">
                                {% if result.side == "Heads" %}
                                <img src="{% static 'img/coin_obverse.png' %}" alt="Heads" class="coin-images">
                                <p class="coin-result">Heads</p>
                                {% elif result.side == "Tails" %}
                                <img src="{% static 'img/coin_reverse.png' %}" alt="Tails" class="coin-images">
                                <p class="coin-result">Tails</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="toss-button-container">
                        <div class="button-container">
                            <form method="POST" action="{% url 'toss_coins' %}">
                                {% csrf_token %}
                                {% if new_toss %}
                                <button type="submit" class="styled-button">New Toss</button>
                                {% else %}
                                <button type="submit" class="styled-button">Toss Coins</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="brush-line-container">
                        <ul>
                            {% for casted_result in casted_results reversed %}
                            <li>
                                {% if casted_result.name == "HHT" %}
                                <img src="{% static 'img/stroke1.png' %}" alt="HHT" class="brush-images">
                                {% elif casted_result.name == "TTH" %}
                                <img src="{% static 'img/stroke2.png' %}" alt="TTH" class="brush-images">
                                {% elif casted_result.name == "HHH" %}
                                <img src="{% static 'img/stroke2_dot.png' %}" alt="HHH" class="brush-images">
                                {% else %}
                                <img src="{% static 'img/stroke1_dot.png' %}" alt="TTT" class="brush-images">
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box2">
                    {% if not new_toss %}
                    <h1>Your guidance will appear here</h1>
                    {% endif %}
                    <br>
                    {% if hexagram_number %}
                    <div>
                        <h2>{{ hexagram_number.number }}</h2>
                        <p>{{ hexagram_number.description }}</p>
                        <p>{{ hexagram_number.meaning }}</p>
                    </div>
                    {% endif %}
                    <br>
                    {% if modified_hexagram_number %}
                    <div>
                        <p>Your situation will soon change</p>
                    </div>
                    <br>
                    <div>
                        <h2>{{ modified_hexagram_number.number }}</h2>
                        <p>{{ modified_hexagram_number.description }}</p>
                        <p>{{ modified_hexagram_number.meaning }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
